aiofiles==0.3.2
aiohttp==3.3.2
aniso8601==3.0.2
async-timeout==3.0.0
atomicwrites==1.1.5
attrs==18.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
chardet==3.0.4
click==6.7
colorama==0.3.9
config==0.3.9
Flask==1.0.2
Flask-RESTful==0.3.6
getenv==0.1.0
gunicorn==19.9.0
idna==2.7
idna-ssl==1.1.0
itsdangerous==0.24
Jinja2==2.10
loader==2017.9.11
logcc==2018.3.1
MarkupSafe==1.0
more-itertools==4.2.0
multidict==4.3.1
pluggy==0.6.0
pony==0.7.5
psycopg2==2.7.5
py==1.5.4
PyJWT==1.6.4
pytest==3.6.3
pytz==2018.5
six==1.11.0
termcc==2018.1.4
terminaltables==3.1.0
websockets==6.0
Werkzeug==0.14.1
wrap==2018.3.1
yarl==1.2.6
